<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><"Профіль"></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
    <%- include ('templates/header.ejs');-%>
</header>
<body>
<div class="body">
    <div class="inherit-body-cab">
        <div class="mark-holder">
            <span><%=mark%></span>
            <p>Середній бал</p>
        </div>
        <ul class="about-user">
            <li><%=surname%></li>
            <li><%=name%></li>
            <li><%=second_name%></li>
            <li><%=school%></li>
            <li><%=form%></li>
        </ul>
        <img src="/images/user-pic.png">

    </div>
</div>
<div class="body">
    <div class="inherit-body_marks">
        <table id="marks">
            <tr>
                <th>Предмет</th>
                <th>Дата</th>
                <th>Ім'я Викладача</th>
                <th>Оцінка</th>
                <th>Комментарій</th>
                <%
            if(userData.length!=0){
                var i=1;
            userData.forEach(function(data){
            %>
            <tr>
                <td><%=data.lesson_name %></td>
                <td><%=data.date %></td>
                <td><%=data.teacher_name %></td>
                <td><%=data.value%></td>
                <td><%=data.commen%></td>
            </tr>
            <%  i++; })} %>
        </table>
    </div>
</div>
</body>
</html>