<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
    <%- include ('templates/header.ejs');-%>
</header>
<body>
<div class="body">
    <div class="inherit-body-cab">
        <div class="mark-holder">
            <span><%=mark%></span>
            Середній бал
        </div>
        <ul class="about-user">
            <li><%=surname%></li>
            <li><%=name%></li>
            <li><%=second_name%></li>
            <li><%=school%></li>
            <li><%=form%></li>
        </ul>
        <img src="/images/user-pic.png">

    </div>
</div>
<div class="body">
    <div class="inherit-body_marks">
        <table id="marks">
            <tr>
                <th>Предмети</th>
                <th>11.06</th>
            </tr>
            <tr>
                <th>Англійська</th>
                <td></td>
            </tr>
            <tr>
                <th>Математика</th>
                <td></td>
            </tr>
            <tr>
                <th>Німецька</th>
                <td></td>
            </tr>
            <tr>
                <th>Українська мова</th>
                <td></td>
            </tr>
            <tr>
                <th>Українська літ.</th>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>