<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
    <%- include ('templates/header.ejs');-%>
</header>
<body>
<div class="body">
    <div class="inherit-body">
        <table id="to-do">
            <tr id="head_eve2">
                <th>Назва предмету</th>
                <th>Невиконане завдання</th>
                <th>Дедлайн</th>
            </tr>
            <%
            if(taskTable.length!=0){
                var i=1;
            taskTable.forEach(function(data){
            %>
            <tr>
                <td><%=data.lesson_name%></td>
                <td><%=data.task%></td>
                <td><%=data.deadline%></td>
            </tr>
            <%  i++; })} %>
        </table>
    </div>
</div>
<div class="body">
    <div class="inherit-body">
        <table id="to-do2">
            <tr id="head_eve2">
                <th>Назва предмету</th>
                <th>Виконане завдання</th>
                <th>Дедлайн</th>
            </tr>
            <%
            if(taskdoneTable.length!=0){
                var ii=1;
            taskdoneTable.forEach(function(data){
            %>
            <tr>
                <td><%=data.lesson_name%></td>
                <td><%=data.task%></td>
                <td><%=data.deadline%></td>

            </tr>
            <%  ii++; })} %>
        </table>
    </div>
</div>
</body>
</html>