<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
    <%- include ('templates/header.ejs');-%>
</header>
<body>
<div class="body">
    <div class="inherit-body">
        <table id="to-do">
            <tr id="head_eve">
                <th>Необхідно виконати</th>
            </tr>
            <tr>
                <td><%=lesson_name+": "+task%></td>
            <tr>
            <tr>
                <td><%=lesson_name+": "+task%></td>
            <tr>
        </table>
    </div>
</div>
<div class="body">
    <div class="inherit-body">
        <table id="to-do2">
            <tr id="head_eve2">
                <th>Виконано</th>
            </tr>
            <tr>
                <td><%=lesson_name+": "+task%></td>
            <tr>
        </table>
    </div>
</div>
</body>
</html>