<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Розклад</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <%- include ('templates/header.ejs');-%>
</header>
<body>
<div class="body">
    <div class="inherit-body">
        <table id="myTable">
            <tr>
                <th>Понеділок</th>
                <th>Вівторок</th>
                <th>Середа</th>
                <th>Четвер</th>
                <th>П'ятниця</th>
            </tr>
            <%
            if(dataMonday.length!=0){
                let tuesday = dataTuesday
                let wednesday = dataWednesday
                let thursday = dataThursday
                let friday = dataFriday
                var i = 0;
                dataMonday.forEach(function(monday){
            %>
            <tr>
                <td><%=monday %></td>
                <td><%=tuesday[i]%></td>
                <td><%=wednesday[i]%></td>
                <td><%=thursday[i]%></td>
                <td><%=friday[i]%></td>
            </tr>
            <% i++})} %>
        </table>
    </div>
</div>

</body>
</html>