<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Розклад</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <%- include ('templates/header.ejs');-%>
</header>
<body>
<div class="body">
    <div class="inherit-body">
        <table id="myTable">
            <tr>
                <th>Понеділок</th>
                <th>Вівторок</th>
                <th>Середа</th>
                <th>Четвер</th>
                <th>П'ятниця</th>
            </tr>

            <tr>
                <%
                if(dataMonday.length!=0){
                dataMonday.forEach(function(monday){
                %>
                <td><%=monday%></td>
                <% })} %>
                <%
                if(dataTuesday.length!=0){
                dataTuesday.forEach(function(tuesday){
                %>
                <td><%=tuesday%></td>
                <% })} %>
                <%
                if(dataWednesday.length!=0){
                dataWednesday.forEach(function(wednesday){
                %>
                <td><%=wednesday%></td>
                <% })} %>
                <%
                if(dataThursday.length!=0){
                dataThursday.forEach(function(thursday){
                %>
                <td><%=thursday%></td>
                <% })} %>
                <%
                if(dataFriday.length!=0){
                dataFriday.forEach(function(friday){
                %>
                <td><%=friday%></td>
                <% })} %>
                <%
                if(dataSaturday.length!=0){
                dataSaturday.forEach(function(saturday){
                %>
                <td><%=saturday%></td>
                <% })} %>
            </tr>

        </table>
    </div>
</div>

</body>
</html>