<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <%- include ('templates/header.ejs');-%>
</header>
<body>
<div class="body">
    <div class="inherit-body">
        <table id="myTable">
            <tr>
                <th>Понеділок</th>
                <th>Вівторок</th>
                <th>Середа</th>
                <th>Четвер</th>
                <th>П'ятниця</th>
            </tr>
            <%
            if(userData.length!=0){
                var i=1;
            userData.forEach(function(data){
            %>
            <tr>
                <td><%=data.monday_lessons %></td>
                <td><%=data.tuesda_lessons %></td>
                <td><%=data.wednesday_lessons %></td>
                <td><%=data.thursday_lessons%></td>
                <td><%=data.friday_lessons%></td>
            </tr>
            <%  i++; })} %>
        </table>
    </div>
</div>

</body>
</html>